{% extends 'page/page.html.twig' %}

{% block breadcrumbs %}
<div class="col-12">
    <nav clsss="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('homepage') }}">Home</a></li>
            {% if context|default() %}
                {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") %}
                    {% set home_route = context ~ '_home' %}
                    <li class="breadcrumb-item"><a href="{{ url(home_route) }}">{{ context|capitalize }}</a></li>
                {% endif %}
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">Institutions</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
    {% if context|default() %}
        {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") %}
            {%  set institution_page = context ~ '_institution_page' %}

            <div class="col-12">
                <div class="row content">

                    <!-- #table-institutions -->
                    <div id="table-institutions" class="row table-wrapper">
                        <div class="col-12">   

                            <div class="row row-cols-1 mb-3">
                                <div class="col text-end">
                                    <p class="mb-0">Showing {{ pager.currentPageOffsetStart() }} - {{ pager.currentPageOffsetEnd() }} of {{ pager.nbResults }}</p>
                                </div>
                            </div>

                            {% set id_toggler = '' %}
                            {% if direction_new is defined %}
                                {% set id_toggler = '?orderby=id&direction=' ~ direction_new %}
                            {% endif %}

                            {% set name_toggler = '' %}
                            {% if direction_new is defined %}
                                {% set name_toggler = '?orderby=name&direction=' ~ direction_new %}
                            {% endif %}

                            {% set id_caret = '' %}
                            {% if orderby is defined and direction is defined %}
                                {% if orderby == 'id' %}
                                    {% if direction == 'asc' %}
                                        {% set id_caret = '<i class="fa-solid fa-caret-up ms-2"></i>' %}
                                    {% elseif direction == 'desc' %}
                                        {% set id_caret = '<i class="fa-solid fa-caret-down ms-2"></i>' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% set name_caret = '' %}
                            {% if orderby is defined and direction is defined %}
                                {% if orderby == 'name' %}
                                    {% if direction == 'asc' %}
                                        {% set name_caret = '<i class="fa-solid fa-caret-up ms-2"></i>' %}
                                    {% elseif direction == 'desc' %}
                                        {% set name_caret = '<i class="fa-solid fa-caret-down ms-2"></i>' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <form class="row mb-3">
                                <div class="col-8 col-md-6 col-lg-4 col-xl-3">
                                    <div class="input-group mb-3">
                                        <label for="usStateSelector" class="form-label fw-bold me-3 pt-2">US State:</label>
                                        <select class="form-select" id="usStateSelector" aria-label="Filter by US State">
                                            <option selected>-Any-</option>
                                            {% for option in us_state_options %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-outline-primary" id="usStateBtn" type="button" id="filter-button">Filter</button>
                                    </div> 
                                </div>
                            </form>

                            {% set name_toggler = '' %}
                            {% if direction_new is defined %}
                                {% set name_toggler = '?orderby=name&direction=' ~ direction_new %}
                                {% if usstate is defined %}
                                    {% set name_toggler = name_toggler ~ '&usstate=' ~ usstate|lower %}
                                {% endif %}
                            {% endif %}

                            {% set state_toggler = '' %}
                            {% if direction_new is defined %}
                                {% set state_toggler = '?orderby=state&direction=' ~ direction_new %}
                                {% if usstate is defined %}
                                    {% set state_toggler = state_toggler ~ '&usstate=' ~ usstate|lower %}
                                {% endif %}
                            {% endif %}

                            {% set name_caret = '' %}
                            {% if orderby is defined and direction is defined %}
                                {% if orderby == 'name' %}
                                    {% if direction == 'asc' %}
                                        {% set name_caret = '<i class="fa-solid fa-caret-up ms-2"></i>' %}
                                    {% elseif direction == 'desc' %}
                                        {% set name_caret = '<i class="fa-solid fa-caret-down ms-2"></i>' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% set state_caret = '' %}
                            {% if orderby is defined and direction is defined %}
                                {% if orderby == 'state' %}
                                    {% if direction == 'asc' %}
                                        {% set state_caret = '<i class="fa-solid fa-caret-up ms-2"></i>' %}
                                    {% elseif direction == 'desc' %}
                                        {% set state_caret = '<i class="fa-solid fa-caret-down ms-2"></i>' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <div class="row row-cols-1 mb-3">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">
                                                    <a href="{{ app.request.pathinfo }}{% if name_toggler is defined %}{{ name_toggler }}{% endif %}">Name{{ name_caret|raw }}</a>
                                                </th>
                                                <th scope="col">
                                                    <a href="{{ app.request.pathinfo }}{% if state_toggler is defined %}{{ state_toggler }}{% endif %}">State{{ state_caret|raw }}</a>
                                                </th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Links</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                {% if pager is empty %}
                                                    <tr>
                                                        <td colspan="8" class="text-center fst-italic">No data</td>
                                                    </tr>
                                                {% else %}
                                                    {% for institution in pager %}
                                                    <tr>
                                                        <td>{{ institution.name }}</td>
                                                        <td>{{ institution.state }}</td>
                                                        <td>{{ institution.address }}</td>
                                                        <td>
                                                            <a class="me-2" href="{{ url(institution_page, {'id':institution.id}) }}">View</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            {{ pagerfanta(pager) }}

                            <!-- Page Navigation -->
                            <div id="page-navigation" class="row justify-content-center mb-3" style="display: none;">
                                <div class="col-12 col-lg-8 col-xl-10">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="First">
                                                    <span aria-hidden="true">
                                                        <i class="fa-solid fa-backward-fast me-2"></i>First
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="fa-solid fa-caret-left me-2"></i>Previous
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="page-item" aria-current="page">
                                                <a class="page-link" href="#">5</a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        Next<i class="fa-solid fa-caret-right ms-2"></i>
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Last">
                                                    <span aria-hidden="true">
                                                        Last<i class="fa-solid fa-forward-fast ms-2"></i>
                                                    </span>
                                                </a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-12 col-lg-4 col-xl-2">
                                    <div class="input-group">
                                        <select class="form-select" id="inputGoToPage" aria-label="Go to page">
                                            <option selected>Page...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                        <button class="btn btn-outline-primary" type="button">Go</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-navigation -->
                        </div>
                    </div>
                    <!-- /#table-institutions -->
                </div>
            </div>
            
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/institution/table.js') }}"></script>
{% endblock %}
