<div id="evaluation-details" class="card mb-3">
    <h2 class="card-header h5">
        Details
    </h2>
    <div class="card-body">
        <div class="row">

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput1" class="form-label mb-0">Required for Admission?</label>
                <div class="font-monospace" id="recordInput1">{{ evaluation.reqAdmin }}</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput2" class="form-label mb-0">Current Phase</label>
                <div class="font-monospace" id="recordInput2">{{ evaluation.phase }}</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput3" class="form-label mb-0">Date Submitted</label>
                <div class="font-monospace" id="recordInput3">{{ evaluation.created | date('Y-m-d H:i:s') }}</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput4" class="form-label mb-0">Latest Update</label>
                <div class="font-monospace" id="recordInput4">{{ evaluation.updated | date('Y-m-d H:i:s') }}</div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput5" class="form-label mb-0">Requester</label>
                <div class="font-monospace" id="recordInput5">
                    {{ evaluation.requester.displayName }}<br>
                    {{ evaluation.requester.orgID }}<br>
                    {{ evaluation.requester.email }}<br>
                    {% if evaluation.requesterType is defined and evaluation.requesterType is not null and evaluation.requesterType is not empty %}
                        <span class="text-muted">{{ evaluation.requesterType }}</span>
                    {% elseif evaluation.requester.category is defined %}
                        <span class="text-muted">{{ evaluation.requester.category }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
            {% if evaluation.assignee is not empty %}
                <label for="recordInput6" class="form-label mb-0">Assignee</label>
                <div class="font-monospace" id="recordInput6">
                    {{ evaluation.assignee.displayName }}<br>
                    {{ evaluation.assignee.username }}
                </div>
            {% endif %}
            </div>

            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput7" class="form-label mb-0">Institution</label>
                <div class="font-monospace" id="recordInput7">
                    {% if evaluation.institution is not empty %}
                        {{ evaluation.institution.name }}<br>
                    {% endif %}

                    {% if evaluation.institutionOther is not empty %}
                        {{ evaluation.institutionOther }}<br>
                    {% endif %}

                    {% if evaluation.institution is not empty %}
                        {{ evaluation.institution.address }}<br>
                        United States<br>
                        [ {{ evaluation.institution.dapipID }} ]<br>
                    {% else %}
                        {{ evaluation.institutionCountry }}<br>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
                <label for="recordInput8" class="form-label mb-0">Evaluation Course</label>
                <div class="font-monospace" id="recordInput8">
                    {{ evaluation.courseSubjCode }} {{ evaluation.courseCrseNum }}<br>
                    {{ evaluation.courseTitle }}<br>
                    {{ evaluation.courseTerm }}<br>
                    ({{ evaluation.courseCreditBasis }} Basis)<br>
                    {{ evaluation.courseCreditHrs }} credit hours
                </div>
                <div>
                    {% if files.course_syllabus is defined and files.course_syllabus is not null %}
                        {% set icon = 'fa-file' %}
                        {% set target = '' %}
                        {% if files.course_syllabus ends with 'pdf' %}
                            {% set icon = 'fa-file-pdf' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.course_syllabus ends with 'docx' or files.course_syllabus ends with 'doc' %}
                            {% set icon = 'fa-file-word' %}
                        {% elseif files.course_syllabus ends with 'xlsx' or files.course_syllabus ends with 'xls' %}
                            {% set icon = 'fa-file-excel' %}
                        {% elseif files.course_syllabus ends with 'pptx' or files.course_syllabus ends with 'ppt' %}
                            {% set icon = 'fa-file-powerpoint' %}
                        {% elseif files.course_syllabus ends with 'png' or files.course_syllabus ends with 'jpg' or files.course_syllabus ends with 'jpeg' or files.course_syllabus ends with 'gif' %}
                            {% set icon = 'fa-file-image' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.course_syllabus ends with 'html' or files.course_syllabus ends with 'xml' %}
                            {% set icon = 'fa-file-code' %}
                        {% elseif files.course_syllabus ends with 'txt' or files.course_syllabus ends with 'csv' %}
                            {% set icon = 'fa-file-lines' %}
                        {% endif %}

                        <div class="mt-3">
                            <a href="{{ url( context ~ '_file_download', { 'id':evaluation.id|raw, 'subfolder':'course_syllabus', 'filename':files.course_syllabus|raw }) }}"{{ target }}>
                                <i class="fa-regular {{ icon }} fa-fw me-2"></i>Course Syllabus
                            </a>
                        </div>
                    {% endif %}

                    {% if files.course_document is defined and files.course_document is not null %}
                        {% set icon = 'fa-file' %}
                        {% set target = '' %}
                        {% if files.course_document ends with 'pdf' %}
                            {% set icon = 'fa-file-pdf' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.course_document ends with 'docx' or files.course_document ends with 'doc' %}
                            {% set icon = 'fa-file-word' %}
                        {% elseif files.course_document ends with 'xlsx' or files.course_document ends with 'xls' %}
                            {% set icon = 'fa-file-excel' %}
                        {% elseif files.course_document ends with 'pptx' or files.course_document ends with 'ppt' %}
                            {% set icon = 'fa-file-powerpoint' %}
                        {% elseif files.course_document ends with 'png' or files.course_document ends with 'jpg' or files.course_document ends with 'jpeg' or files.course_document ends with 'gif' %}
                            {% set icon = 'fa-file-image' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.course_document ends with 'html' or files.course_document ends with 'xml' %}
                            {% set icon = 'fa-file-code' %}
                        {% elseif files.course_document ends with 'txt' or files.course_document ends with 'csv' %}
                            {% set icon = 'fa-file-lines' %}
                        {% endif %}

                        <div>
                            <a href="{{ url( context ~ '_file_download', { 'id':evaluation.id|raw, 'subfolder':'course_document', 'filename':files.course_document|raw }) }}"{{ target }}>
                                <i class="fa-regular {{ icon }} fa-fw me-2"></i>Course Document
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex flex-column mb-4">
            {% if evaluation.labSubjCode|trim is not empty %}
                <label for="recordInput9" class="form-label mb-0">Evaluation Lab</label>
                <div class="font-monospace" id="recordInput9">
                    {{ evaluation.labSubjCode }} {{ evaluation.labCrseNum }}<br>
                    {{ evaluation.labTitle }}<br>
                    {{ evaluation.labTerm }}<br>
                    ({{ evaluation.labCreditBasis }} Basis)<br>
                    {{ evaluation.labCreditHrs }} credit hours
                </div>
                <div>
                    {% if files.lab_syllabus is defined and files.lab_syllabus is not null %}
                        {% set icon = 'fa-file' %}
                        {% set target = '' %}
                        {% if files.lab_syllabus ends with 'pdf' %}
                            {% set icon = 'fa-file-pdf' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.lab_syllabus ends with 'docx' or files.lab_syllabus ends with 'doc' %}
                            {% set icon = 'fa-file-word' %}
                        {% elseif files.lab_syllabus ends with 'xlsx' or files.lab_syllabus ends with 'xls' %}
                            {% set icon = 'fa-file-excel' %}
                        {% elseif files.lab_syllabus ends with 'pptx' or files.lab_syllabus ends with 'ppt' %}
                            {% set icon = 'fa-file-powerpoint' %}
                        {% elseif files.lab_syllabus ends with 'png' or files.lab_syllabus ends with 'jpg' or files.lab_syllabus ends with 'jpeg' or files.lab_syllabus ends with 'gif' %}
                            {% set icon = 'fa-file-image' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.lab_syllabus ends with 'html' or files.lab_syllabus ends with 'xml' %}
                            {% set icon = 'fa-file-code' %}
                        {% elseif files.lab_syllabus ends with 'txt' or files.lab_syllabus ends with 'csv' %}
                            {% set icon = 'fa-file-lines' %}
                        {% endif %}

                        <div class="mt-3">
                            <a href="{{ url( context ~ '_file_download', { 'id':evaluation.id|raw, 'subfolder':'lab_syllabus', 'filename':files.lab_syllabus|raw }) }}"{{ target }}>
                                <i class="fa-regular {{ icon }} fa-fw me-2"></i>Lab Syllabus
                            </a>
                        </div>
                    {% endif %}

                    {% if files.lab_document is defined and files.lab_document is not null %}
                        {% set icon = 'fa-file' %}
                        {% set target = '' %}
                        {% if files.lab_document ends with 'pdf' %}
                            {% set icon = 'fa-file-pdf' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.lab_document ends with 'docx' or files.lab_document ends with 'doc' %}
                            {% set icon = 'fa-file-word' %}
                        {% elseif files.lab_document ends with 'xlsx' or files.lab_document ends with 'xls' %}
                            {% set icon = 'fa-file-excel' %}
                        {% elseif files.lab_document ends with 'pptx' or files.lab_document ends with 'ppt' %}
                            {% set icon = 'fa-file-powerpoint' %}
                        {% elseif files.lab_document ends with 'png' or files.lab_document ends with 'jpg' or files.lab_document ends with 'jpeg' or files.lab_document ends with 'gif' %}
                            {% set icon = 'fa-file-image' %}
                            {% set target = ' target="_blank"' %}
                        {% elseif files.lab_document ends with 'html' or files.lab_document ends with 'xml' %}
                            {% set icon = 'fa-file-code' %}
                        {% elseif files.lab_document ends with 'txt' or files.lab_document ends with 'csv' %}
                            {% set icon = 'fa-file-lines' %}
                        {% endif %}

                        <div>
                            <a href="{{ url( context ~ '_file_download', { 'id':evaluation.id|raw, 'subfolder':'lab_document', 'filename':files.lab_document|raw }) }}"{{ target }}>
                                <i class="fa-regular {{ icon }} fa-fw me-2"></i>Lab Document
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            </div>

            {% if evaluation.draftEquiv1Course|trim is not empty and context != "requester" %}
            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput10" class="form-label text-muted mb-0">Draft Equiv(s)</label>
                <div class="font-monospace text-muted fst-italic" id="recordInput10">
                    {{ evaluation.draftEquiv1Course }}, {{ evaluation.draftEquiv1CreditHrs }} credit hours {{ evaluation.draftEquiv1Operator }}<br>

                    {% if evaluation.draftEquiv2Course|trim is not empty %}
                        {{ evaluation.draftEquiv2Course }}, {{ evaluation.draftEquiv2CreditHrs }} credit hours {{ evaluation.draftEquiv2Operator }}<br>
                    {% endif %}

                    {% if evaluation.draftEquiv3Course|trim is not empty %}
                        {{ evaluation.draftEquiv3Course }}, {{ evaluation.draftEquiv3CreditHrs }} credit hours {{ evaluation.draftEquiv3Operator }}<br>
                    {% endif %}

                    {% if evaluation.draftEquiv4Course|trim is not empty %}
                        {{ evaluation.draftEquiv4Course }}, {{ evaluation.draftEquiv4CreditHours }} credit hours<br>
                    {% endif %}

                    {% if evaluation.draftPolicy|trim is not empty %}
                        {{ evaluation.draftPolicy|trim }}
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if evaluation.finalEquiv1Course is not empty %}
            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput11" class="form-label mb-0">Final Equiv(s)</label>
                <div class="font-monospace" id="recordInput11">
                    {{ evaluation.finalEquiv1Course.subjectCode }} {{ evaluation.finalEquiv1Course.courseNumber }}, {{ evaluation.finalEquiv1CreditHrs }} credit hours {{ evaluation.finalEquiv1Operator }}<br>
                    
                    {% if evaluation.finalEquiv2Course is not empty %}
                        {{ evaluation.finalEquiv2Course.subjectCode }} {{ evaluation.finalEquiv2Course.courseNumber }}, {{ evaluation.finalEquiv2CreditHrs }} credit hours {{ evaluation.finalEquiv2Operator }}<br>
                    {% endif %}

                    {% if evaluation.finalEquiv3Course is not empty %}
                        {{ evaluation.finalEquiv3Course.subjectCode }} {{ evaluation.finalEquiv3Course.courseNumber }}, {{ evaluation.finalEquiv3CreditHrs }} credit hours {{ evaluation.finalEquiv3Operator }}<br>
                    {% endif %}

                    {% if evaluation.finalEquiv4Course is not empty %}
                        {{ evaluation.finalEquiv4Course.subjectCode }} {{ evaluation.finalEquiv4Course.courseNumber }}, {{ evaluation.finalEquiv4CreditHrs }} credit hours<br>
                    {% endif %}

                    {% if evaluation.finalPolicy|trim is not empty %}
                        {{ evaluation.finalPolicy|trim }}
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% set holdsExist = false %}
            {% if evaluation.holdForRequesterAdmit == 1 %}{% set holdsExist = true %}{% endif %}
            {% if evaluation.holdForCourseInput == 1 %}{% set holdsExist = true %}{% endif %}
            {% if evaluation.holdForTranscript == 1 %}{% set holdsExist = true %}{% endif %}

            {% if holdsExist == true and context != 'requester' %}
            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput12" class="form-label mb-2">Holds</label>
                <div class="font-monospace" id="recordInput12">
                    {% if evaluation.holdForRequesterAdmit == 1 %}
                        <i class="fa-solid fa-lock fa-fw me-2 text-muted"></i>Hold for requester admission<br>
                    {% endif %}

                    {% if evaluation.holdForCourseInput == 1 %}
                        <i class="fa-solid fa-lock fa-fw me-2 text-muted"></i>Hold for course input<br>
                    {% endif %}

                    {% if evaluation.holdForTranscript == 1 %}
                        <i class="fa-solid fa-lock fa-fw me-2 text-muted"></i>Hold for transcript<br>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% set tagsExist = false %}
            {% if evaluation.tagSpotArticulated == 1 %}{% set tagsExist = true %}{% endif %}
            {% if evaluation.tagR1ToStudent == 1 %}{% set tagsExist = true %}{% endif %}
            {% if evaluation.tagDeptToStudent == 1 %}{% set tagsExist = true %}{% endif %}
            {% if evaluation.tagDeptToR1 == 1 %}{% set tagsExist = true %}{% endif %}
            {% if evaluation.tagR2ToStudent == 1 %}{% set tagsExist = true %}{% endif %}
            {% if evaluation.tagR2ToDept == 1 %}{% set tagsExist = true %}{% endif %}
            {% if evaluation.tagReassigned == 1 %}{% set tagsExist = true %}{% endif %}

            {% if tagsExist == true and context != 'requester' %}
            <div class="col-12 d-flex flex-column mb-4">
                <label for="recordInput12" class="form-label mb-2">Tags</label>
                <div class="font-monospace" id="recordInput12">

                    {% if evaluation.tagSpotArticulated == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>spot-articulated<br>
                    {% endif %}

                    {% if evaluation.tagR1ToStudent == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>r1-to-student<br>
                    {% endif %}

                    {% if evaluation.tagDeptToStudent == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>dept-to-student<br>
                    {% endif %}

                    {% if evaluation.tagDeptToR1 == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>dept-to-r1<br>
                    {% endif %}

                    {% if evaluation.tagR2ToStudent == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>r2-to-student<br>
                    {% endif %}

                    {% if evaluation.tagR2ToDept == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>r2-to-dept<br>
                    {% endif %}

                    {% if evaluation.tagReassigned == 1 %}
                    <i class="fa-solid fa-tag fa-fw me-2 text-muted"></i>reassigned<br>
                    {% endif %}

                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
<!-- #/evaluation-details -->