{% if evaluation.notes is not empty %}
<div id="evaluation-notes" class="card mb-3">
    <h2 class="card-header h5">
        Notes
    </h2>
    {% for note in evaluation.notes %}
        {% if context != "requester" or (context == "requester" and note.visibleToRequester == 1) %}
        <div class="card-body {% if loop.last %}last{% endif %}">
            <h3 class="fs-6">
                <span class="fw-bold">{{ note.created | date('Y-m-d H:i:s') }}</span>
                <span class="fw-normal mx-2">-</span>

                {% if context == "requester" %}
                <span class="fw-normal">{{ note.author.category|upper }}</span>
                {% else %}
                <span class="fw-normal">{{ note.author.displayName }} &lt;{{ note.author.username }}&gt;</span>
                {% endif %}
                
                {% if context == "coordinator" %}
                    {% if note.author.username == app.user.username %}
                    <form class="fw-normal text-muted float-end" style="display: inline; padding: 0 8px 0 0; margin: 0; text-decoration: none;" action="{{ url('coordinator_evaluation_annotate_delete_form', {'id':note.id }) }}" method="post">
                        <button class="btn btn-link" style="padding: 0; margin: 0; text-decoration: none;" type="submit"><i class="fa-regular fa-circle-xmark"></i></button>
                    </form>
                    {% endif %}
                {% endif %}

                {% if context != "requester" and note.visibleToRequester == 1 %}
                <span class="fw-normal text-muted float-end" style="padding: 4px 8px 0 0;"><i class="fa-regular fa-eye"></i></span>
                {% elseif context != "requester" and note.visibleToRequester == 0 %}
                <span class="fw-normal text-muted float-end" style="padding: 4px 8px 0 0;"><i class="fa-regular fa-eye-slash"></i></span>
                {% endif %}
            </h3>
            <p class="font-monospace mb-0">
                {{ note.body }}
            </p>
        </div>
        {% endif %}
    {% endfor %}
</div>
<!-- #/evaluation-notes -->
{% endif %}
