<div class="row content">
    <!-- Left side -->
    <div id="left-side" class="col-12 col-lg-3 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                Main Menu
            </h2>
            <div class="card-body">
                <p><a href="{{ url('assignee_evaluation_table_needs_attention') }}"><i class="fa-solid fa-inbox fa-fw me-2"></i>Need My Attention</a></p>
                <p><a href="{{ url('assignee_evaluation_table_history') }}"><i class="fa-solid fa-box-archive fa-fw me-2"></i>My Past Evaluations</a></p>
                <p class="mb-0"><a href="{{ url('assignee_evaluation_table_requester') }}"><i class="fa-solid fa-search fa-fw me-2"></i>GTID Lookup</a></p>
            </div>
        </div>
        <div class="card mb-3">
            <h2 class="card-header h5">
                More Options
            </h2>
            <div class="card-body">
                <p class="mb-0"><a href="{{ url('assignee_course_table') }}"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Courses</a></p>
                <p class="mb-0"><a href="{{ url('assignee_department_table') }}"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Departments</a></p>
                <p class="mb-0"><a href="{{ url('assignee_institution_table') }}"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Institutions</a></p>
            </div>
        </div>
    </div>
    <!-- /#left-side -->

    <!-- Right side -->
    <div id="right-side" class="col-12 col-lg-9 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                <i class="fa-solid fa-diagram-next text-muted me-2"></i>Assignee Role
            </h2>
            <div class="card-body">
                {% set role_description = "An assignee is a faculty or staff member responsible for articulating equivalencies for the transfer courses sent to them." %}
                <p class="mb-0">{{ role_description }}</p>
            </div>
        </div>
        {% include "fragment/info.html.twig" %}
        {% include "fragment/legend.html.twig" %}
    </div>
    <!-- /#right-side -->
</div>
