<div class="row content">
    <!-- Left side -->
    <div id="left-side" class="col-12 col-lg-3 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                Main Menu
            </h2>
            <div class="card-body">
                <p><a href="{{ url('coordinator_evaluation_table_r1') }}"><i class="fa-solid fa-table fa-fw me-2"></i>Evaluations</a></p>
                <p class="mb-0"><a href="{{ url('coordinator_evaluation_table_requester') }}"><i class="fa-solid fa-search fa-fw me-2"></i>GTID Lookup</a></p>
            </div>
        </div>
        <div class="card mb-3">
            <h2 class="card-header h5">
                More Options
            </h2>
            <div class="card-body">
                <p class="mb-0" style="display: none;"><a href="#"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Activity</a></p>
                <p class="mb-0"><a href="{{ url('coordinator_course_table') }}"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Courses</a></p>
                <p class="mb-0"><a href="{{ url('coordinator_department_table') }}"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Departments</a></p>
                <p class="mb-0"><a href="{{ url('coordinator_institution_table') }}"><i class="fa-solid fa-caret-right fa-fw me-2"></i>Institutions</a></p>
            </div>
        </div>
    </div>
    <!-- /#left-side -->

    <!-- Right side -->
    <div id="right-side" class="col-12 col-lg-9 d-flex flex-column">
        <div class="card mb-3">
            <h2 class="card-header h5">
                <i class="fa-solid fa-folder-tree text-muted me-2"></i>Coordinator Role
            </h2>
            <div class="card-body">
                {% set role_description = "A coordinator is staff member in the Registrar's Office. Coordinators have high-level permissions." %}
                <p class="mb-0">{{ role_description }}</p>
            </div>
        </div>
        {% include "fragment/info.html.twig" %}
        {% include "fragment/legend.html.twig" %}
    </div>
    <!-- /#right-side -->
</div>
