{% extends 'evaluation/page.html.twig' %}

{% block content %}
    <div class="col-12">
        <div class="row content">
            <!-- Left side -->
            <div id="left-side" class="col-12 col-lg-6 d-flex flex-column">
                {% include "evaluation/fragment/details.html.twig" %}
                {% include "evaluation/fragment/files.html.twig" %}
            </div>
            <!-- #/left-side -->

            <!-- Right side -->
            <div id="right-side" class="col-12 col-lg-6 d-flex flex-column">
                <!-- Form 09 (from-r1-to-student) -->
                {{ form_start(form) }}
                <form id="form-20">
                    <div class="card border-primary mb-3">
                        <h2 class="card-header bg-primary border-primary h5">
                            Put on Hold
                        </h2>
                        <div class="card-body">
                            <div id="reasonGrp" class="mb-5">
                                <h3 class="h6 mb-3">Reasons</h3>
                                <div class="mb-4">
                                    {{ form_row(form.addNote) }}
                                </div>
                            </div>
                            <div id="noteFieldSet" class="mb-5">
                                <div class="mb-4">
                                    {{ form_row(form.visibleNote) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(form.noteBody) }}
                                </div>
                            </div>
                            <p class="mb-4">Use the Submit button to move this evaluation to the <span class="text-nowrap">Registrar-1</span> phase.</p>
                        </div>
                        <div class="card-footer border-top-none p-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-outline-secondary ms-2" href=".">Exit without submitting</a>
                        </div>
                    </div>
                </form>
                {{ form_end(form) }}
                <!-- /#form-09 (from-r1-to-student) -->

                {% include "evaluation/fragment/notes.html.twig" %}
                {% include "evaluation/fragment/trails.html.twig" %}
            </div>
            <!-- #/right-side -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/evaluation/from-r1-to-student.js') }}"></script>
{% endblock %}