{% extends 'evaluation/page.html.twig' %}

{% block content %}
    <div class="col-12">
        <div class="row content">
            <!-- Left side -->
            <div id="left-side" class="col-12 col-lg-6 d-flex flex-column">
                {% include "evaluation/fragment/details.html.twig" %}
                {% include "evaluation/fragment/files.html.twig" %}
            </div>
            <!-- #/left-side -->

            <!-- Right side -->
            <div id="right-side" class="col-12 col-lg-6 d-flex flex-column">

                <!-- Form 07 (spot-articulate) -->
                {{ form_start(form) }}
                <form id="form-07">
                    <div class="card border-primary mb-3">
                        <h2 class="card-header bg-primary border-primary h5">
                            Spot Articulate
                        </h2>
                        <div class="card-body">

                            <div id="eqvCntGrp" class="mb-5">
                                {{ form_row(form.eqvCnt) }}
                            </div>

                            <div id="eqv1Grp" class="border p-3 mx-3 mb-5">
                                <h3 class="h6 mb-3">GT Course #1</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv1SubjCode) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(form.eqv1) }}
                                </div>
                                <div class="mb-0">
                                    {{ form_row(form.eqv1Hrs) }}
                                </div>
                            </div>

                            <div id="eqv1OprGrp" class="mb-5">
                                <h3 class="h6">#1 &larr; Operator &rarr; #2</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv1Opr) }}
                                </div>
                            </div>

                            <div id="eqv2Grp" class="border p-3 mx-3 mb-5">
                                <h3 class="h6 mb-3">GT Course #2</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv2SubjCode) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(form.eqv2) }}
                                </div>
                                <div class="mb-0">
                                    {{ form_row(form.eqv2Hrs) }}
                                </div>
                            </div>

                            <div id="eqv2OprGrp" class="mb-5">
                                <h3 class="h6">#2 &larr; Operator &rarr; #3</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv2Opr) }}
                                </div>
                            </div>

                            <div id="eqv3Grp" class="border p-3 mx-3 mb-5">
                                <h3 class="h6 mb-3">GT Course #3</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv3SubjCode) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(form.eqv3) }}
                                </div>
                                <div class="mb-0">
                                    {{ form_row(form.eqv3Hrs) }}
                                </div>
                            </div>

                            <div id="eqv3OprGrp" class="mb-5">
                                <h3 class="h6">#3 &larr; Operator &rarr; #4</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv3Opr) }}
                                </div>
                            </div>

                            <div id="eqv4Grp" class="border p-3 mx-3 mb-5">
                                <h3 class="h6 mb-3">GT Course #4</h3>
                                <div class="mb-4">
                                    {{ form_row(form.eqv4SubjCode) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(form.eqv4) }}
                                </div>
                                <div class="mb-0">
                                    {{ form_row(form.eqv4Hrs) }}
                                </div>
                            </div>

                            <div id="policyGrp" class="mb-5">
                                <h3 class="h6 mb-3">Policy</h3>
                                <div class="mb-4">
                                    {{ form_row(form.policy) }}
                                </div>
                            </div>

                            <div id="noteGrp" class="mb-5">
                                <h3 class="h6 mb-3">Note</h3>
                                <div class="mb-4">
                                    {{ form_row(form.addNote) }}
                                </div>
                                <div id="noteFieldSet">
                                    <div class="mb-4">
                                        {{ form_row(form.visibleNote) }}
                                    </div>
                                    <div class="mb-4">
                                        {{ form_row(form.noteBody) }}
                                    </div>
                                </div>
                            </div>

                            <p class="mb-4">Use the Submit button to move this evaluation to the <span class="text-nowrap">Registrar-2</span> phase.</p>
                        </div>
                        <div class="card-footer border-top-none p-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a class="btn btn-outline-secondary ms-2" href=".">Exit without submitting</a>
                        </div>
                    </div>
                </form>
                {{ form_end(form) }}
                <!-- /#form-07 (spot-articulate) -->

                {% include "evaluation/fragment/notes.html.twig" %}
                {% include "evaluation/fragment/trails.html.twig" %}
            </div>
            <!-- #/right-side -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/evaluation/spot-articulate.js') }}"></script>
{% endblock %}
