{% extends 'page/page.html.twig' %}

{% block breadcrumbs %}
<div class="col-12">
    <nav clsss="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('homepage') }}">Home</a></li>
            {% if context|default() %}
                {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") or (context == "requester") %}
                    {% set home_route = context ~ '_home' %}
                    <li class="breadcrumb-item"><a href="{{ url(home_route) }}">{{ context|capitalize }}</a></li>
                {% endif %}
            {% endif %}
            <li class="breadcrumb-item"><a href="#">Evaluations</a></li>

            {% if verb|default() %}
                {% if context|default() %}
                    {% set evaluation_page = context ~ '_evaluation_page' %}
                    <li class="breadcrumb-item"><a href="{{ url(evaluation_page, {'uuid':uuid}) }}">Evaluation #{{ uuid }}</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{{ verb|replace({'-': ' '})|capitalize }}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Evaluation #{{ uuid }}</li>
            {% endif %}
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="row content">
        <!-- Left side -->
        <div id="left-side" class="col-12 col-lg-6 d-flex flex-column">
            {% include "evaluation/fragment/details.html.twig" %}
            {% include "evaluation/fragment/files.html.twig" %}
        </div>
        <!-- #/left-side -->

        <!-- Right side -->
        <div id="right-side" class="col-12 col-lg-6 d-flex flex-column">
            {% if verb|default() %}
                {% include 'evaluation/form/' ~ verb ~ '.html.twig' %}
            {% else %}
                {% include "evaluation/fragment/options.html.twig" %}
            {% endif %}

            <div style="display: none;">
            {% include "evaluation/form/example.html.twig" %}
            {% include "evaluation/form/annotate.html.twig" %}
            {% include "evaluation/form/annotate-as-requester.html.twig" %}
            {% include "evaluation/form/append.html.twig" %}
            {% include "evaluation/form/from-student-to-r1.html.twig" %}
            {% include "evaluation/form/resubmit.html.twig" %}
            {% include "evaluation/form/spot-articulate.html.twig" %}
            {% include "evaluation/form/assign.html.twig" %}
            {% include "evaluation/form/from-r1-to-student.html.twig" %}
            {% include "evaluation/form/evaluate.html.twig" %}
            {% include "evaluation/form/from-dept-to-r1.html.twig" %}
            {% include "evaluation/form/reassign.html.twig" %}
            {% include "evaluation/form/from-dept-to-student.html.twig" %}
            {% include "evaluation/form/pass.html.twig" %}
            {% include "evaluation/form/forward.html.twig" %}
            {% include "evaluation/form/finalize.html.twig" %}
            {% include "evaluation/form/hold.html.twig" %}
            {% include "evaluation/form/from-r2-to-student.html.twig" %}
            {% include "evaluation/form/from-r2-to-dept.html.twig" %}
            {% include "evaluation/form/from-complete-to-hold.html.twig" %}
            </div>

            {% include "evaluation/fragment/notes.html.twig" %}
            {% include "evaluation/fragment/trails.html.twig" %}
        </div>
        <!-- #/right-side -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- no scripts -->
{% endblock %}
