{% extends 'page/page.html.twig' %}

{% block breadcrumbs %}
<div class="col-12 px-3">
    <nav class="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('homepage') }}">Home</a></li>
            {% if context|default() %}
                {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") or (context == "requester") %}
                    {% set home_route = context ~ '_home' %}
                    <li class="breadcrumb-item"><a href="{{ url(home_route) }}">{{ context|capitalize }}</a></li>

                    {% set evaluation_table = context ~ '_evaluation_table' %}
                    {% if (context == "coordinator") or (context == "observer") %}
                        {% if evaluation.phase == "Student" %}
                            {% set evaluation_table = context ~ '_evaluation_table_student' %}
                        {% elseif evaluation.phase == "Registrar 1" %}
                            {% set evaluation_table = context ~ '_evaluation_table_r1' %}
                        {% elseif evaluation.phase == "Department" %}
                            {% set evaluation_table = context ~ '_evaluation_table_dept' %}
                        {% elseif evaluation.phase == "Registrar 2" %}
                            {% set evaluation_table = context ~ '_evaluation_table_r2' %}
                        {% elseif evaluation.phase == "Hold" %}
                            {% set evaluation_table = context ~ '_evaluation_table_hold' %}
                        {% elseif evaluation.phase == "Complete" %}
                            {% set evaluation_table = context ~ '_evaluation_table_complete' %}
                        {% endif %}
                    {% elseif context == "assignee" %}
                        {% if evaluation.phase == "Department" %}
                            {% set evaluation_table = 'assignee_evaluation_table_needs_attention' %}
                        {% else %}
                            {% set evaluation_table = 'assignee_evaluation_table_history' %}
                        {% endif %}
                    {% endif %}
                    <li class="breadcrumb-item"><a href="{{ url(evaluation_table) }}">Evaluations</a></li>

                    {% if verb|default() %}
                        {% set evaluation_page = context ~ '_evaluation_page' %}
                        <li class="breadcrumb-item"><a href="{{ url(evaluation_page, {'id':id}) }}">Evaluation #{{ id }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ verb|replace({'-': ' '})|capitalize }}</li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">Evaluation #{{ id }}</li>
                    {% endif %}
                {% endif %}
            {% endif %}
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="row content">
        <!-- Left side -->
        <div id="left-side" class="col-12 col-lg-6 d-flex flex-column">
            {% include "evaluation/fragment/details.html.twig" %}
            {% include "evaluation/fragment/files.html.twig" %}
        </div>
        <!-- #/left-side -->

        <!-- Right side -->
        <div id="right-side" class="col-12 col-lg-6 d-flex flex-column">
            {% if verb|default() %}
                {% include 'evaluation/form/' ~ verb ~ '.html.twig' %}
            {% else %}
                {% include "evaluation/fragment/options.html.twig" %}
            {% endif %}

            {% include "evaluation/fragment/notes.html.twig" %}
            {% include "evaluation/fragment/trails.html.twig" %}
        </div>
        <!-- #/right-side -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- no scripts -->
{% endblock %}
