{% extends 'page/page.html.twig' %}

{% block breadcrumbs %}
<div class="col-12">
    <nav clsss="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('homepage') }}">Home</a></li>
            {% if context|default() %}
                {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") or (context == "requester") %}
                    {% set home_route = context ~ '_home' %}
                    <li class="breadcrumb-item"><a href="{{ url(home_route) }}">{{ context|capitalize }}</a></li>
                {% endif %}
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">Evaluations</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
    {% if context|default() %}
        {% if (context == "manager") or (context == "coordinator") or (context == "observer") or (context == "assignee") or (context == "requester") %}
            {% set evaluation_table = context ~ '_evaluation_table' %}
            {% set evaluation_page = context ~ '_evaluation_page' %}

            <div class="col-12">
                <div class="row content">

                    <div id="table-evaluations" class="row table-wrapper">
                        <div class="col-12">   

                            <div class="row row-cols-2 mb-3">
                                <div class="col">
                                    <p class="text-muted mb-0">Evaluations older than 500 days are not shown.</p>
                                </div>
                                <div class="col text-end">
                                    <p class="mb-0">Showing {{ pager.currentPageOffsetStart() }} - {{ pager.currentPageOffsetEnd() }} of {{ pager.nbResults }}</p>
                                </div>
                            </div>

                            <form class="row mb-3">
                                <div class="col-8 col-md-6 col-lg-4 col-xl-3">
                                    <div class="input-group mb-3">
                                        <label for="reqAdmSelector" class="form-label fw-bold me-3 pt-2">Req Adm:</label>
                                        <select class="form-select" id="regAdmSelector" aria-label="Filter by required for admission">
                                            <option selected>-Any-</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <button class="btn btn-outline-primary" type="button" id="filter-button">Filter</button>
                                    </div> 
                                </div>
                            </form>

                            <div class="row row-cols-1 mb-3">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Req Adm</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">Requestor</th>
                                                <th scope="col">Assignee</th>
                                                <th scope="col">
                                                    <a href="{{ app.request.pathinfo }}?orderby=created&sort=desc" sort="asc">Created</a>
                                                </th>
                                                <th scope="col">
                                                    <a href="{{ app.request.pathinfo }}">Updated</a>
                                                </th>
                                                <th scope="col">Phase</th>
                                                <th scope="col">Links</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                {% for evaluation in pager %}
                                                <tr>
                                                    <td>
                                                    {% if evaluation.reqAdmin == "No" %}
                                                    <span class="text-danger me-2"><i class="fa-solid fa-circle fa-fw"></i></span>{{ evaluation.reqAdmin }}
                                                    {% elseif evaluation.reqAdmin == "Yes" %}
                                                    <span class="text-success me-2"><i class="fa-solid fa-circle fa-fw"></i></span>{{ evaluation.reqAdmin }}
                                                    {% endif %}
                                                    </td>
                                                    <td>{{ evaluation.courseSubjCode }} {{ evaluation.courseCrseNum }} ({{ evaluation.courseCreditHrs }})<br><span class="text-muted">University of West Georgia</span></td>
                                                    <td>{{ evaluation.requester.displayName }}<br><span class="text-muted">{{ evaluation.requester.orgID }}</span></td>
                                                    <td>
                                                    {% if evaluation.assignee.username != 'admin' %}
                                                    {{ evaluation.assignee.displayName }}<br><span class="text-muted">{{ evaluation.assignee.username }}</span>
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                    {% if evaluation.created %}
                                                    {{ evaluation.created | date('Y-m-d H:i') }}<br><span class="text-muted">{{ evaluation.created|time_diff }}</span>
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                    {% if evaluation.updated %}
                                                    {{ evaluation.updated | date('Y-m-d H:i') }}<br><span class="text-muted">{{ evaluation.updated|time_diff }}</span>
                                                    {% endif %}
                                                    </td>
                                                    <td>{{ evaluation.phase }}</td>
                                                    <td>
                                                        <a class="me-2" href="{{ url(evaluation_page, {'id':evaluation.id}) }}">View</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            {{ pagerfanta(pager) }}

                            <!-- Page Navigation -->
                            <div id="page-navigation" class="row justify-content-center mb-3" style="display: none;">
                                <div class="col-12 col-lg-8 col-xl-10">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="First">
                                                    <span aria-hidden="true">
                                                        <i class="fa-solid fa-backward-fast me-2"></i>First
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">
                                                        <i class="fa-solid fa-caret-left me-2"></i>Previous
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="page-item" aria-current="page">
                                                <a class="page-link" href="#">5</a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">
                                                        Next<i class="fa-solid fa-caret-right ms-2"></i>
                                                    </span>
                                                </a>
                                            </li>

                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Last">
                                                    <span aria-hidden="true">
                                                        Last<i class="fa-solid fa-forward-fast ms-2"></i>
                                                    </span>
                                                </a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-12 col-lg-4 col-xl-2">
                                    <div class="input-group">
                                        <select class="form-select" id="inputGoToPage" aria-label="Go to page">
                                            <option selected>Page...</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                        <button class="btn btn-outline-primary" type="button">Go</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-navigation -->
                        </div>
                    </div>
                    <!-- /#table-evaluations -->
                </div>
            </div>
            
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
<!-- no scripts -->
{% endblock %}
